@use "./variables" as v;
@use "./mixins" as m;

.oneauction-container {
    width: 100%;

    #backToAllAuctions {
        padding: 10px;
        margin-left: 3em;

        border-style: none;
        border-radius: 3px;
        background-color: v.$label-color;
        color: v.$secondary-color;
        
        font-family: v.$primary-font-family;
        font-size: 12px;
    }

    .oneauction-content {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        padding-top: 2em;
        padding-bottom: 3em;

        @include m.forDesktop(desktop) {
            flex-direction: row;
            padding-top: 4em;
            padding-bottom: 4em;
            gap: 2em;
        }
    
        .img-container {
    
            img {
                width: 100%;
            }

            @include m.forDesktop(desktop) {
                width: 90%;
            }
        }

        .bid-container {
            padding-top: 2em;

            @include m.forDesktop(desktop) {
                padding-top: 0;
                width: 50%;
            }

            .bid-info-container {
                display: flex;
                flex-direction: column;
                gap: 0.8em;

                .countdown-container {
                    display: flex;
                    flex-direction: row;
                    gap: 0.2;
                    padding-bottom: 1em;
                    color: v.$label-color;
                }

                h2 {
                    font-family: v.$heading-font-family;
                    font-weight: 800;
                    font-size: 18px;
                    letter-spacing: 0.5px;
                    color: v.$primary-color;
                }
    
                p {
                    font-family: v.$primary-font-family;
                    font-weight: 400;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                }

                #currentPrice {
                    font-weight: 800;
                    letter-spacing: 1px;
                    text-decoration: underline;
                    text-decoration-thickness: 3px;
                    text-decoration-color: v.$label-color;
                }
            }

            .bidform-container {
                padding-top: 1.5em;
                display: flex;
                flex-direction: column;
                gap: 0.8em;

                input {
                    padding: 10px;
                    border-style: none;
                    border: 0.5px solid v.$primary-color;
                    border-radius: 3px;

                    font-family: v.$primary-font-family;
                    font-size: 12px;
                    font-weight: 400;
                }

                button {
                    padding: 10px;
                    border-style: none;
                    border-radius: 3px;
                    background-color: v.$label-color;
                    color: v.$secondary-color;

                    font-family: v.$primary-font-family;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
        }
    }
}